<!DOCTYPE html>
<html lang="en" class={if assigns[:_no_background] == true, do: "", else: "bg-gray-50"}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href={Routes.static_path(@conn, "/images/icon.svg")} />
    <%= csrf_meta_tag() %>
    <.live_title suffix="| Atlos">
      <%= assigns[:title] || "Collaborative OSINT" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/fonts/iosevka/iosevka.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/fonts/inter/inter.css")}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.0/mapbox-gl.css" rel="stylesheet" />
    <%= if assigns[:_base_parent] do %>
      <base target="_parent" />
    <% end %>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
