<!DOCTYPE html>
<html
  lang="en"
  class={
    if assigns[:_no_background] == true, do: "scroll-smooth", else: "scroll-smooth bg-gray-50"
  }
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href={Routes.static_path(@conn, "/images/icon.svg")} />
    <%= csrf_meta_tag() %>
    <.live_title suffix="| Atlos">
      <%= assigns[:title] || "Collaborative OSINT" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/fonts/iosevka/iosevka.css")}
    />
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/fonts/inter/inter.css")}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.0/mapbox-gl.css" rel="stylesheet" />
    <%= if assigns[:iframe_mode] do %>
      <base target="_parent" />
    <% end %>
    <%= if assigns[:current_user] do %>
      <style>
        [data-tag-target="<%= @current_user.username %>"] {
          background-color: #fde68a !important;
        }
      </style>
    <% end %>
  </head>
  <body>
    <div id="tooltips"></div>
    <%= @inner_content %>
    <%= if not is_nil(System.get_env("HIGHLIGHT_CODE")) and (assigns[:iframe_mode] != true) do %>
      <script src="https://cdn.jsdelivr.net/npm/highlight.run@latest">
      </script>
      <script>
        window.H.init("<%= System.get_env("HIGHLIGHT_CODE") %>", {enableStrictPrivacy: true});
      </script>
    <% end %>
  </body>
</html>
