<section class="fixed h-screen w-screen left-0 top-0 bottom-0" phx-update="ignore" id="map">
  <map-events lat="35" lon="35" zoom="3" id="map_events" data={Jason.encode!(@map_data)}>
  </map-events>
</section>
