@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
    --primary-hue: 28deg;
    --primary-saturation: 100%;
    --primary-lightness: 50%;
    font-family: "Geist", sans-serif;
  }

h1 {
    font-family: "Newsreader", serif;
    font-weight: 300 !important;
    font-size: 3rem !important;
}

h2 {
    font-weight: 500 !important;
}

h3 {
    font-weight: 300 !important;
}

code, .code-block {
    font-family: "Geist Mono", monospace;
}

 /* Make the label at the top of the screen monospace and uppercase */
.mt-1\.5.flex.items-center.gap-1.overflow-hidden.text-sm.text-gray-500.dark\:text-gray-400 {
   font-family: "Geist Mono", monospace;
   text-transform: uppercase;
   letter-spacing: 0.07em;
   font-size: 0.75rem !important;
}

/* Add Atlos orange dot to the left of the label */
.mt-1\.5.flex.items-center.gap-1.overflow-hidden.text-sm.text-gray-500.dark\:text-gray-400::before {
    content: "";
    position: relative;
    left: 0;
    top: 30%;
    transform: translateY(-10%);
    width: .5rem;
    height: .5rem;
    margin-right: .4rem;
    background-color: #FF7900; 
    border-radius: 50%;
  }

/* Change site title's font weight */
.mx-2.font-extrabold.inline.select-none {
    font-weight:600 !important;
}

img[alt$="A profile with flair."] {
    width: 50%;
}

img[alt$="A No Access mode message."] {
    width: 50%;
} 

img[alt$="The metadata pane."] {
    width: 75%;
}

img[alt$="The message shown to suspended users."] {
    width: 50%;
}